html {
	min-height: 100%;
	height: 100%;
	width: 100%;
	-webkit-text-size-adjust: none;
}

body {
	overflow: hidden;
	margin: 0;
	height: 100%;
	width: 100%;
	color: #545454;
}

#closest {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	margin-top: 1em;
	border: 2px solid #545454;
	-webkit-border-radius: 5px;
  	-moz-border-radius: 5px;
  	border-radius: 5px;
  	padding: 1em;
}


#closestDesc {
	font-size: 1.25em;
}

#closestDist {
	font-size: 1.25em;
}

#closestImg {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1em;
	width:  60%;
	height: 25%;
}

#closestImg img {
	height: auto;
	width: 100%;
}

#options {
	margin-top: 3em;
	position: relative;
	width: 95%;
	margin-left: auto;
	/*margin-right: auto;*/
}

#options div {
	height: 5em;
	line-height: 5em;
	width: 45%;
	border: 2px solid #545454;
	-webkit-border-radius: 5px;
  	-moz-border-radius: 5px;
  	border-radius: 5px;
	float: left;
	text-align: center;
}

#more {
	margin-right: 1em;
}


.addViewTitle {
	text-align: center;
	font-size: 1.25em;
	line-height: 2em;
}

#addLocMap {
	width: 100%;
	height: 450px;
}

.addButtons {
	width: 90%;
	height: 3em;
	position: absolute;
	margin-top: 1em;
	margin-left: 1em;
	margin-right: auto;
	z-index: 20;
	bottom: 1em;
}

.addButton0 {
	float: left;
	height: 3em;
	border: 2px solid #545454;
	-webkit-border-radius: 5px;
  	-moz-border-radius: 5px;
  	border-radius: 5px;
  	text-align: center;
  	line-height: 3em;
  	width: 45%;
  	margin-right: 1em;
}

.addButton1 {
	float: left;
	height: 3em;
	border: 2px solid #545454;
	-webkit-border-radius: 5px;
  	-moz-border-radius: 5px;
  	border-radius: 5px;
  	text-align: center;
  	line-height: 3em;
  	width: 45%;
}

#addUpdateDescContainer {
	width: 90%;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}

#addUpdateDescInput {
	width: 100%;
}

#addUpdateDateInput {
	width: 100%;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}

#moreViewTitle {
	text-align: center;
	font-size: 1.25em;
	line-height: 2em;
}

#map {
	overflow: hidden;
	height: 500px;
	width: 100%;
}

#backButton {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	height: 3em;
	border: 2px solid #545454;
	-webkit-border-radius: 5px;
  	-moz-border-radius: 5px;
  	border-radius: 5px;
  	text-align: center;
  	line-height: 3em;
  	width: 90%;
}
